<div>
  <label>Enter a Number:</label>
  <input type="number" [(ngModel)]="numberGuess" placeholder="input(0 - 100)" onkeydown="javascript: return event.keyCode == 69 ? false : true"/>
  <button (click)="check();" *ngIf="btnShow">check</button>
</div>
<div *ngIf="lifebar">
  <label>Life:</label>
  <span>{{life}}</span>
</div>
<div>
  <h2 *ngIf="lesser">Your number is Lesser!</h2>
  <h2 *ngIf="greater">Your number is Greater!</h2>
  <h1 *ngIf="result">You Win!</h1>
  <h2 *ngIf="error">Error, no input!</h2>
  <h1 *ngIf="noLife">No Life Left!</h1>
</div>